
    @font-face {
      src: url(./fonts/Inter-Black.ttf);
      font-family:interBlack;
    }
    @font-face {
      src: url(./fonts/RedHatDisplay-Regular.ttf);
      font-family:redHatR;
    }
    .redHatR {
      font-family: redHatR;
    }
 
    @font-face {
      src: url(./fonts/RedHatDisplay-Bold.ttf);
      font-family:redHatRB;
    }
       .redHatB {
      font-family: redHatB;
    }
    .interBlack {
      font-family: interBlack;
    }
    @font-face {
      src: url(./fonts/Inter-Bold.ttf);
      font-family:interBold;
    }
    .interBold {
      font-family: interBold;
    }
    @font-face {
      src: url(./fonts/Inter-ExtraBold.ttf);
      font-family:interExtraBold;
    }
    .interExtraBold {
      font-family: interExtraBold;
    }
    @font-face {
      src: url(./fonts/Inter-ExtraLight.ttf);
      font-family:interExtraLight;
    }
    .interExtraLight {
      font-family: interExtraLight;
    }
    @font-face {
      src: url(./fonts/Inter-Light.ttf);
      font-family:InterLight;
    }
    .InterLight {
      font-family: InterLight;
    }
    @font-face {
      src: url(./fonts/Inter-Medium.ttf);
      font-family:InterMedium;
    }
    .InterMedium {
      font-family: InterMedium;
    }
    @font-face {
      src: url(./fonts/Inter-Regular.ttf);
      font-family:InterRegular;
    }
    .InterRegular {
      font-family: InterRegular;
    }
    @font-face {
      src: url(./fonts/Inter-SemiBold.ttf);
      font-family:InterSemiBold;
    }
    .InterSemiBold {
      font-family: InterSemiBold;
    }
    @font-face {
      src: url(./fonts/Inter-Thin.ttf);
      font-family:InterThin;
    }
    .InterThin {
      font-family: InterThin;
    }



    @font-face {
      src: url(./fonts/Ubuntu-Regular.ttf);
      font-family:ubuntuRegular;
    }
    .ubuntuRegular {
      font-family: ubuntuRegular;
    }

    @font-face {
      src: url(./fonts/Ubuntu-Light.ttf);
      font-family:ubuntuLight;
    }
    .ubuntuLight {
      font-family: ubuntuLight;
    }

    @font-face {
      src: url(./fonts/Ubuntu-Medium.ttf);
      font-family:ubuntuMedium;
    }
    .ubuntuMedium {
      font-family: ubuntuMedium;
    }
    

    @font-face {
      src: url(./fonts/Ubuntu-Bold.ttf);
      font-family:ubuntuBold;
    }
    .ubuntuBold {
      font-family: ubuntuBold;
    }
    



































    
    
  
  @font-face {
    src: url(./fonts/arait.ttf);
    font-family:arait;  
  }
  @font-face {
    src: url(./fonts/araR.ttf);
    font-family:araR;  
  }
  @font-face {
    src: url(./fonts/Montserrat-Bold.ttf);
    font-family:monB;  
  }
  @font-face {
    src: url(./fonts/Montserrat-Regular.ttf);
    font-family:monR;  
  }
  @font-face {
    src: url(./fonts/poiret.ttf);
    font-family:poiret;  
  }
  @font-face {
    src: url(./fonts/Questrial-Regular.ttf);
    font-family:Quest;  
  }
  @font-face {
    src: url(./fonts/ralewayR.ttf);
    font-family:ralewayR;  
  }
  @font-face {
    src: url(./fonts/deltaR.ttf);
    font-family:deltaR;  
  }
  @font-face {
    src: url(./fonts/ralewayT.ttf);
    font-family:ralewayT;  
  }
  @font-face {
    src: url(./fonts/oxygenR.ttf);
    font-family:oxygenR;  
  }
  @font-face {
    src: url(./fonts/prosperR.ttf);
    font-family:prosperR;  
  }
  @font-face {
    src: url(./fonts/oxygenB.ttf);
    font-family:oxygenB;  
  }
  @font-face {
    src: url(./fonts/oxygenL.ttf);
    font-family:oxygenL;  
  }
  @font-face {
    src: url(./fonts/promptoR.ttf);
    font-family:promptoR;  
  }
  @font-face {
    src: url(./fonts/promptoB.ttf);
    font-family:promptoB;  
  }
  @font-face {
    src: url(./fonts/promptoB.ttf);
    font-family:promptoB;  
  }
  @font-face {
    src: url(./fonts/ballet.ttf);
    font-family:ballet;  
  }

  @font-face {
    src: url(./fonts/Poppins-Bold.ttf);
    font-family:poppings-Bold;  
  }
  @font-face {
    src: url(./fonts/Poppins-Regular.ttf);
    font-family:poppings-Regular;  
  }
  @font-face {
    src: url(./fonts/Poppins-ExtraLight.ttf);
    font-family:poppings-ExtraLight;  
  }
  @font-face {
    src: url(./fonts/Poppins-Light.ttf);
    font-family:poppings-Light;  
  }
  @font-face {
    src: url(./fonts/NeueMontreal-Bold.otf);
    font-family:NeueMontreal-Bold;  
  }
  @font-face {
    src: url(./fonts/NeueMontreal-Regular.otf);
    font-family:NeueMontreal-Regular;  
  }


  .poppings-Regular{
    font-family: poppings-Regular;  
  }
  .poppings-Bold{
    font-family: poppings-Bold;  
  }
  .poppings-ExtraLight{
    font-family: poppings-Light;  
  }
  .poppings-Light{
    font-family: poppings-Light;  
  }
  .NeueMontreal-Bold{
    font-family: NeueMontreal-Bold;  
  }


  .poiret{
      font-family: poiret;  
  }
  .poiret{
      font-family: poiret;  
  }
  .ballet{
    font-family: ballet;  
  }
  .prosperR{
      font-family: prosperR;  
  }
  .promptoR{
      font-family:promptoR;  
  }
  .promptoL{
      font-family: promptoL;  
  }
  .promptoB{
      font-family: promptoB;  
  }
  .ralewayR{
      font-family: ralewayR;  
  }
  .ralewayT{
      font-family: ralewayT;  
  }
  .oxygenB{
      font-family: oxygenB;  
  }
  .oxygenL{
      font-family: oxygenL;  
  }
  .monR{
      font-family:monR;  
  }
  .oxygenR{
      font-family: oxygenR;  
  }
  .deltaR{
      font-family: deltaR;  
  }
  .arait{
      font-family: arait;  
  }
  .araR{
      font-family: araR;  
  }
  .helvetica{
      font-family: helvetica;  
  }
  .garamond{
      font-family: garamond;  
  }
  .poppings{
      font-family: poppins;  
  }
  .plexSansB{
    font-family:plexsansB;   
  }
  .plexSansBi{
    font-family:plexsansBi;   
  }
  .plexSansR{
    font-family:plexsansR;   
  }
  .Quest{
    font-family:Quest !important;   
  }
  


  

  
  

  
  
  
  
  
  
  
  